{% extends 'base.html.twig' %}

{% block title %}OpenTodo{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; display: flex; }
    .menu li { list-style-type: none; }
    .menu { display: flex; padding-left: 30%; }
    .menu a { margin-right: 20px; text-decoration: none; color: #000; }
    .logo-img { height: 46px; width: 220px; padding-top: 3px; }
    .main-div { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .thead th { padding-right: 50px; }
    .end-date-th { display: flex; width: 100px; }
    .head-div { display: flex; max-width: 800px; width: 95%; }
    .head-div a { text-decoration: none; padding-left: 56%; padding-top: 3%; color: red; }
    .head-div svg { padding-right: 5px; }
    .col-auto img { height: 50px; width: 50px; border-radius: 50px; margin-right: 10px; }
    .td-1 { display: flex; }
    .div-nom-desc p { font-size: 15px; margin-top: 0px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('app_default') }}"><img src="{{ asset('build/images/logo.png' ) }}" alt="" class="logo-img"></a>
    <ul class="menu">
        <li><a href="{{ path('add_task') }}">Ajouter une tâche</a></li>
        <li><a href="{{ path('login') }}">Déconnexion</a></li>
    </ul>
</div>

<div class="main-div">
    <div class="head-div">
        <h2>Mes tâches</h2>
        <a href="{{ path('add_task') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>Ajouter une tâche</a>
    </div>

    <table class="table-task">
        <thead class="thead">
            <tr>
                <th style=" padding-right:375px;">Nom</th>
                <th>Statut</th>
                <th class="end-date-th">Date de fin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for task in tasks %}
                <tr>
                    <td class="td-1">{% if task.photo %}
                                    <div class="col-auto">
                                        <img src="{{ asset('/upload/img/' ~ task.photo) }}">
                                    </div>
                                {% endif %}<div class="div-nom-desc">{{ task.nom }}<br><p>{{ task.description }}</p></div></td>
                    <td>{{ task.statut }}</td>
                    <td>{{ task.dateFin|date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('edit_task', {'id': task.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
                        <a href="{{ path('delete_task', {'id': task.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
